header {
	border-style: solid;
	border-width: 3px;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1533px;
	height: 150px;
	text-align: center;
}

header table img {
	position: relative;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	float: left;
	display: inline;
}

header table th {
	padding: 20px 0;
	height: 100px;
	line-height: 120px;
	float: left;
	margin-right: 10px;
	
	font-family: helvetica;
	font-size: 3em;
	display: inline;
	

}

header table tr td p {
	height: 100px;
	padding: 0px;
	line-height: 225px;
}

nav {
	position: fixed;
	top: 153px;
	left: 0px;
	width: 175px;
	height: 555px;
	
}

nav ul {
	list-style-type: none;
	padding-inline-start: 0px;
	margin: 0px;
	position: relative;
}

nav ul li {
	padding: 10px;
	background-color: #95082b;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-bottom-style: none;
	height: 97.2px;
	line-height: 97.2px;
}

nav ul li:hover{
	background-color: #debe88;
	color: black;
	border-color: black;
	cursor: pointer;
}

nav ul li:active{
	background-color: #ebd6b4;
	color: #1F2680;
	border-color: black;
}



content {
	position: fixed;
	top: 153px;
	left: 173px;
	width: 1352px;
	height: 555px;
}

footer {
	border-style:solid;
	width: 1533px;
	height: 100px;
	position: fixed;
	top: 630px;
	left: 0px;
	background-color: #202020;
	
}

content div {
	display: none;
	padding: 1em;
	scroll-behavior: smooth;
	height: 450px;
	overflow-y: scroll;
}

#mcAlgo {
	width: 400px;
	height: 400px;
}

#objectives ul {
	list-style-position: inside;
	padding-left: 0;
}

#considerations ol {
	list-style-position: inside;
	padding-left: 0;
}